.wide_div {
    text-align: right;    
    width: 69px;
    border-width: 1px;
    height: 20px;
    background-color:#00AACC;
    margin-top: 3px;
    border-style: solid;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #999999; }

.const_button {
    width: 70px;
    height: 20px;
    border-width: 1px;
    display: flex; 
    flex-direction: column; }

.exclaim_button {
    margin-top: 3px;
    width:70px;
    float:left;
    height:80px; }

.counter_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
