.wide_div {
    text-align: right;    
    width: 69px;
    border-width: 1px;
    height: 20px;
    background-color:#00AACC;
    border-style: solid;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #999999; }

.const_button {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #00AACC;
    display: flex; 
    flex-direction: column; }

.exclaim_button {
    width:70px;
    height:100%; }

.counter_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
